@import url('https://fonts.googleapis.com/css?family=Merriweather');
html {
  font-family: 'Merriweather', serif;
  font-size: 14px;
}
body {
  padding: 5px 10px;
}

svg {
  display: block;
  width: 100%;
}
#states *.on {
  fill: red;
}

.list-of-states {
  margin: 0;
  padding: 0;
  columns: 100px auto;
  column-gap: 8px;
  list-style: none;
}
.list-of-states li {
  padding: 2px 4px;
  display: inline-block;
  width: 100%;
}
.list-of-states li.on {
  background: red;
  color: white;
  font-weight: bold;
}